{{define "home"}}
<div class="container text-custom-color-text">
<h1 class="pb-4 font-bold">Welcome to my Site</h1>
<img src="/static/images/AnimeCityscape-dusk.png" alt="[Anime Cityscape]">
<p class="pt-4">Hello, I'm a Systems Administrator for a local University. I like to spend my free time building small projects in Go.<br>I also enjoy working on system engineering projects using various boards and mircocontroller units(MCUs).<br>Feel free to stick around if you enjoy what you see.<br>Thank you</p>
</div>
{{end}}
