{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                }
            }
        }
    </script>
</head>

<body class="bg-gray-100 m-0 p-0">
    <header class="bg-black text-white p-4">
        <h1 class="text-4xl font-bold">Vidar.sh</h1>
        <h1>System Administrator</h1>
        <nav class="mt-2">
            <a href="/" class="hover:underline mr-4">Home</a>
            <a href="/projects" class="hover:underline">Projects</a>
        </nav>
    </header>
    <main class="container mx-auto mt-8 p-8">

        {{if eq .Content "home"}}
        {{template "home" .}}
        {{else if eq .Content "projects"}}
        {{template "projects" .}}
        {{else}}
        <p>Content not found</p>
        {{end}}

    </main>
    <footer class="fixed inset-x-0 bottom-0 p-4 bg-black text-white text-center">
        <p>&copy; 2024</p>
    </footer>
</body>

</html>
{{end}}
