{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <h1>Vidar.sh</h1>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
        </nav>
    </header>
    <main>

        {{if eq .Content "home"}}
        {{template "home" .}}
        {{else if eq .Content "projects"}}
        {{template "projects" .}}
        {{else}}
        <p>Content not found</p>
        {{end}}

    </main>
    <footer>
        <p>&copy; 2024</p>
    </footer>
</body>

</html>
{{end}}
